
push constant 0 // sum=0
pop local 0
push constant 1 // n=1
pop local 1
label LOOP
push local 1 // if !(n>y)
push argument 1 // gotoEND
gt
if-goto END
push local 0 // sum+=x
push argument 0
add
pop local 0
push local 1 // n++
push constant 1
add
pop local 1
goto LOOP
label END
push local 0